@font-face {
    font-family: 'Roboto';
    src: url(../fonds/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonds/Comfortaa-Bold.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Comfortaa';
    src: url(../fonds/Comfortaa-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Monserrat';
    src: url(../fonds/Montserrat-Bold.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Monserrat';
    src: url(../fonds/Montserrat-Regular.ttf);
    font-weight: 400;
}