@media screen and ( max-width:1440px){}
@media screen and ( max-width:1320px){}
@media screen and ( max-width:1024px){
    .films__cards {
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .collection__cards {
        justify-content: unset;
        column-gap: 20px;
        overflow-x: auto;
    }

    .collection__card {
        flex-shrink: 0;
    }

     .collection__cards::-webkit-scrollbar {
        width: 0%;
    }
}
@media screen and ( max-width:975px){}
@media screen and ( max-width:768px){
    .header__banner {
        object-position: 76%;
    }
}
@media screen and ( max-width:625px){}
@media screen and ( max-width:550px){}