* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #040D1F;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

.btn {
    width: 166px;
    height: 45px;
    background: #F18128;
    border-radius: 4px;
    border: none;
    color: #000000;
    font-size: 14px;
    text-align: justify;
    font-weight: 500;
    padding: 17px 48px;
    cursor: pointer;
    transition: 500ms;
}

.btn:hover {
    background: #040D1F;
    border-radius: 4px;
    color: #FFFFFF;
}

.title {
    margin-top: 20px;
    margin-bottom: 54px;
    color: #F18128;
    text-transform: capitalize;
    font-size: 36px;
    border-bottom: 2px solid #F18128;
    width: max-content;
}

/* ======================================ads start========================================= */

.ads {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    column-gap: 24px;
    padding: 20px 0;
}

.ads__txt {
    width: 166px;
}

/* ==========================================nav start========================================= */

.nav {
    background: black;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: #FFFFFF;
    font-size: 18px;
}

.nav__list {
    display: flex;
}

.nav__link {
    margin-left: 20px;
    font-size: 14px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 42px 0;
    transition: 500ms;
    position: relative;
}

.nav__link:hover {
    color: #ED8E00;
}

.nav__link::before {
    content: '';
    border-radius: 23px 23px 0px 0px;
    background: #ED8E00;
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: 0;   
    transition: 500ms; 
} 

.nav__link:hover::before {
    width: 100%;
}

/* =======================================header start===================================== */

#header {
    display: flex;
    position: relative;
    min-height: 90vh;
}

.header__banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__content {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: rgba(7, 15, 25, 0.75);
}

.header__title {
    font-size: 64px;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.header__txt {
    max-width: 570px;
    width: 100%;
    line-height: 24px;
    color: #C8C8C8;
    text-align: justify;
    padding-bottom: 50px;
}

.header__btns {
    display: flex;
    column-gap: 30px;
}


/* ==================================section films start==================================== */

.films {
    padding: 54px 0 78px;
}

.films__cards {
    display: flex;
    justify-content: space-between;
}

.films__card {
    position: relative;
    max-width: 255px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.films__banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.films__content {
    position: relative;
    height: 100%;
    padding: 54px 14px 18px;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.films__content-icon {
    padding-bottom: 12px;
}

.films__content-time {
    padding: 7px 27px;
    border: 2px solid #FFFFFF;
    border-radius: 9px;
    color: #FFFFFF;
    margin-bottom: 38px;
    background: rgba(7, 15, 25, 0.2);
}

.films__content-title {
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
    margin-bottom: 12px;
}

.films__content-txt {
    font-size: 14px;
    color: #FFFFFF;
    line-height: 21px;
}

/* =================================section premier start========================================= */

.premier {
    position: relative;
    overflow: hidden;
}

.video__premier {
    position: absolute;
    right: 0;
    z-index: -1;
}

.premier__content {
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
    padding: 42px 0 80px;
}
.premier__txt {
    max-width: 558px;
    width: 100%;
    padding: 51px 0 55px;
    color: #000000;
    font-size: 18px;
    text-align: justify;
    line-height: 27px;
}

/* ======================================section collections start================================ */

.collections__cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
}

.collections__card {
    position: relative;
    max-width: 350px;
    width: 100%;
    min-height: 195px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.collections__card::before {
    content: url(../image/collections/line.png);
    position: absolute;
    left: 2%;
    z-index: 1;
    transform: translateY(-50);
    transition: 500ms;
}

.collections__card::after {
    content: url(../image/collections/line.png);
    position: absolute;
    right: 2%;
    z-index: 1;
    transform: translateY(-50);
    transition: 500ms;
}

.collections__card:hover::after {
    transform: translateY(200%);   
}

.collections__card:hover::before {
    transform: translateY(-200%);
}

.collections__banner {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collections__content {
    position: relative;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 20px;
    color: #FFFFFF;
}

/* ===============================================section series start=============================== */

.series__item {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
}

.series__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.series__content {
    position: relative;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 22px;
    text-align: center;
    color: #FFFFFF;
    height: 100%;
}

.series__content-title {
    font-size: 40px;
    margin-bottom: 27px;
}

.series__content-txt {
    line-height: 24px;
    margin-bottom: 30px;
}

h3.series__content-title {
    font-size: 24px;
    margin-top: 20px;
}


/* =========================================series grid start============================================ */


.series__grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 30px;
}

.series__item {
    min-height: 185px;
}

.series__item:first-of-type {
    grid-column: 4 span;
    grid-row: 2 span;
}

.series__item:nth-of-type(2) {
    grid-column: 2 span;
    grid-row: 2 span;
}

.series__item:hover .series__img {
    transform: scale(1.2);
}

.series__item:hover .series__content-icon {
    transform: translateY(20px) scale(1.2);
}

.series__item:hover h3.series__content-title {
    transform: scale(0);
}

/* ===========================================footer start======================================= */

.footer {
    margin-top: 65px;
    background:  linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    padding: 25px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__apps {
    display: flex;
    column-gap: 48px;
}

.footer__txt {
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0.01em;
}